<mat-card *ngIf="product" [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      [src]="product.image"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <p class="text-lg">{{product.category}}</p>
        <p class="truncate hover:whitespace-normal">{{product.title}}</p>
        <p *ngIf="fullWidthMode">{{product.description}}</p>
      </div>
      <div class="flex justify-between">
        <span class="text-xl text-red-400">{{ product.price | currency }}</span>
        <button mat-mini-fab style="background-color: green;" (click)="onAddToCart()">
          <i-feather style="color: white;" name="plus"></i-feather>
        </button>
      </div>
    </div>
  </div>
</mat-card>
