<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7x1 mx-auto border-x"
>
  <!-- Can take this out to make more room for the grid -->
  <!-- <app-filters (showCategory)="onShowCategory($event)"></app-filters> -->
  <mat-drawer-content class="p-6">
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
      (sortChange)="onSortChange($event)"
      (showCategory)="onShowCategory($event)"
    >
    </app-products-header>

    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-box
          [product]="product"
          (addToCart)="onAddToCart($event)"
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
